@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';
.content {
  height: 100vh;
  flex: 1;
}
.canvas {
  height: 60vh;
  background-color: #333;
}
.box {
  height: 40vh;
  padding: 10px 16px;
  overflow: hidden;
}

.paragraph {
  color: #fff;
}

.theInput {
  margin-bottom: 8px;
}
